<div class="container mr-0">
 <div class="row mb-2 filas">
    <!--///////////////-->
    <h2>Proyectos</h2>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative align-items-center">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Portfolio Argentina Programa</h3>
          <div class="mb-1 text-body-secondary">27/04/2023</div>
          <p class="card-text mb-auto">Proyecto final del Curso Full Stack Web Developer de Argentina Programa.</p>
          <a href="#banner" class="stretched-link">Entra aqui</a>
        </div>
      <!-- ////Thumbnail-->
        <div class="col-auto d-none d-lg-block">
          <img src="../../../assets/portfolio-page.png" class="bd-placeholder-img img-fluid" width="200" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative align-items-center">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Galatea</h3>
          <div class="mb-1 text-body-secondary">18/04/2023</div>
          <p class="card-text mb-auto">Sitios Web con articulos sobre distintos topicos dentro de distintas categorias.</p>
          <a href="https://joako-herrero.github.io/Galatea/" class="stretched-link">Entra aqui</a>
        </div>
      <!-- ////Thumbnail-->
        <div class="col-auto d-none d-lg-block">
          <img src="../../../assets/galatea-page.png" class="bd-placeholder-img img-fluid" width="200" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative align-items-center">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Simulador de TV</h3>
          <div class="mb-1 text-body-secondary">31/01/2023</div>
          <p class="card-text mb-auto">Reproductor de video que copia la funcion de una tv pudiendo subir o bajar de canal de cierta categoria con programacion aleatoria en cada uno (un canal de series, otro de caricaturas, etc.).</p>
          <a href="https://joako-herrero.github.io/Simuador-TV/" class="stretched-link">Entra aqui</a>
        </div>
      <!-- ////Thumbnail-->
        <div class="col-auto d-none d-lg-block">
          <img src="../../../assets/tv-page.png" class="bd-placeholder-img img-fluid" width="200" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <!--///////////////-->
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative align-items-center">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Technical Documentation Page</h3>
          <div class="mb-1 text-body-secondary">28/08/2022</div>
          <p class="mb-auto">Proyecto Legacy Respponsive Web Design Certification - Documentacion tecnica de JavaScrit.</p>
          <a href="https://joako-herrero.github.io/Technical-Documentation-Page---FCC/" class="stretched-link">Entra aqui</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="../../../assets/technical-page.png" class="bd-placeholder-img img-fluid" width="200" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative align-items-center">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Product Landing Page</h3>
          <div class="mb-1 text-body-secondary">25/06/2022</div>
          <p class="mb-auto">Proyecto Legacy Respponsive Web Design Certification - Venta y Promocion de algun producto, en este caso anteojos de sol de madera.</p>
          <a href="https://joako-herrero.github.io/product-landing-page---FCC/" class="stretched-link">Entra aqui</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="../../../assets/product-page.png" class="bd-placeholder-img img-fluid" width="200" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative align-items-center">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Survey Form</h3>
          <div class="mb-1 text-body-secondary">23/05/2022</div>
          <p class="mb-auto">Proyecto Legacy Respponsive Web Design Certification - Formulario sobre el uso y acceso a internet.</p>
          <a href="https://joako-herrero.github.io/Survey-Page-FCC/" class="stretched-link">Entra aqui</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="../../../assets/form-page.png" class="bd-placeholder-img img-fluid" width="200" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative align-items-center">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Tribute Landing Page</h3>
          <div class="mb-1 text-body-secondary">15/03/2022</div>
          <p class="mb-auto">Proyecto Legacy Respponsive Web Design Certification - Tributo a San Martin.</p>
          <a href="https://joako-herrero.github.io/tribute-page-FCC/" class="stretched-link">Entra aqui</a>
        </div>
        <div class="col-auto d-none d-lg-block ">
          <img src="../../../assets/tribute-page.png" class="bd-placeholder-img img-fluid" width="200" height="250" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>
</div>