<div class="container">
    <div class="row">
      <h2>Experiencia</h2>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Trabajo 1</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Descripción del trabajo 1</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Duración del trabajo 1</small>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Trabajo 2</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Descripción del trabajo 2</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Duración del trabajo 2</small>
          </div>
        </div>
      </div>
    </div>
  </div>
