<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h2 class="seccion-titulo">Educación</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Instituto</th>
                        <th>Descripción</th>
                        <th>Periodo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><h3>Alura</h3></td>
                        <td><p>ONE - Oracle Next Education</p></td>
                        <td><p>Noviembre del 2022 - Actualidad</p></td>
                    </tr>
                    <tr>
                        <td><h3>Argentina Programa</h3></td>
                        <td><p>Programador web full stack junior</p></td>
                        <td><p>Junio del 2022 - Actualidad</p></td>
                    </tr>
                    <tr>
                        <td><h3>FreeCodeCamp</h3></td>
                        <td><p>Legacy Responsive Web Design Certification</p></td>
                        <td><p>Diciembre del 2021 - Actualidad</p></td>
                    </tr>
                    <tr>
                        <td><h3>FreeCodeCamp</h3></td>
                        <td><p>Javascript Algorithms and Data Structures Certification</p></td>
                        <td><p>Agosto del 2022 - Actualidad</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>