<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="../../../assets/foto-perfil.jpg" alt="Foto Perfil" class="bd-placeholder-img img-fluid mx-auto"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
        <div class="col-md-7">
            <p class="col">
                Me llamo Matias Joaquin Herrero, soy estudiante del Argentina Programa en el curso de Full Stack, Actualmente no cuento con experiencia
                profesional alguna, pero estoy ansioso por adquirirla. Durante mi formación académica, he aprendido los fundamentos de la programación y he trabajado en varios proyectos propios de pequeña escala para mejorar mis habilidades.
            </p>
        </div>
    </div>
    
</div>
